{% extends "base.html" %}
{% block content %}

<h1>{{ watch.brand }} {{ watch.model }}</h1>

<form method="POST" action="{% url 'delete_watch' watch.id %}">
    <button type="submit">Delete</button>
</form>

{% if watch.description %}
    <div>
        <p>{{ watch.description | safe }}</p>
        <form method="POST" action="{% url 'handle_description' watch.id %}">
            <textarea rows="15" cols="60" name="description">{{ watch.description }}</textarea>
            <button type="submit">Update</button>
        </form>
    </div>
{% else %}
    <form method="POST" action="{% url 'handle_description' watch.id %}">
        <textarea rows="15" cols="60" name="description"></textarea>
        <button type="submit">Create</button>
    </form>
{% endif %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

{% endblock %}