{% extends "base.html" %} 
{% block content %}

<h1>Watches</h1>

{% if is_authenticated %}
    <form method="POST" action="{% url 'add_watch' %}">
        <label>Brand</label>
        <input type="text" name="brand">

        <label>Model</label>
        <input type="text" name="model">

        <button type="submit">Add</button>
    </form>
{% endif %}

<ul>
    {% for watch in watches %}
    <li>
        <a href="{% url 'details' watch.id %}">{{ watch.brand }} {{watch.model}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}